tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/attribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by onlyone (neusoft) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- root node: attribute -->
	<xsd:include schemaLocation="option.xsd"/>
	<xsd:include schemaLocation="codelist.xsd"/>
	<xsd:include schemaLocation="datatype.xsd"/>
	<xsd:include schemaLocation="editertype.xsd"/>
	<xsd:include schemaLocation="group.xsd"/>
	<xsd:element name="attribute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="codeList" type="CodeList" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="AttributesForHtmlEvent"/>
			<xsd:attributeGroup ref="AttributesForValueCheck"/>
			<xsd:attributeGroup ref="AttributesForDisplay"/>
			<xsd:attributeGroup ref="AttributesFoAidButton"/>
			<xsd:attributeGroup ref="AttributesFoLink"/>
			<xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
			<xsd:attribute name="title" type="xsd:string" use="required"/>
			<xsd:attribute name="dataType" type="DataType" use="required"/>
			<xsd:attribute name="type" type="EditerType" use="required"/>
			<xsd:attribute name="tdcss" type="xsd:string" />			
			<xsd:attribute name="isImage" type="xsd:boolean"/>
			<xsd:attribute name="defaultValue" type="xsd:string"/>
			<xsd:attribute name="isNeeded" type="xsd:string"/>
			<xsd:attribute name="popup" type="PopUpStyle"/>
			<!--wanghx-->
		</xsd:complexType>
	</xsd:element>
	<!--PopUpStyle: PopUpStyle-->
	<xsd:simpleType name="PopUpStyle">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LEFT"/>
			<xsd:enumeration value="LTOP"/>
			<xsd:enumeration value="RTOP"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
