tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/button.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- root node: button -->
	<xsd:element name="button">
		<xsd:complexType>
			<xsd:attribute name="type" type="ButtonType" use="required"/>
			<xsd:attribute name="value" type="xsd:string"/>
			<xsd:attribute name="actionName" type="xsd:string"/>
			<xsd:attribute name="actionMethod" type="xsd:string"/>
			<xsd:attribute name="boControllerName" type="xsd:string"/>
			<xsd:attribute name="boControllerMethod" type="xsd:string"/>
			<xsd:attribute name="isPartlyRefresh" type="xsd:boolean"/>
			<xsd:attribute name="onclick" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<!--ButtonType: Button type -->
	<xsd:simpleType name="ButtonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="insert"/>
			<xsd:enumeration value="delete"/>
			<xsd:enumeration value="update"/>
			<xsd:enumeration value="query"/>
			<xsd:enumeration value="submit"/>
			<xsd:enumeration value="pagebutton"/>
			<xsd:enumeration value="custom"/>
			<xsd:enumeration value="reset"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
