tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/codelist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!--CodeList: CodeList type -->
	<xsd:complexType name="CodeList">
		<xsd:sequence>
			<xsd:element name="codeListFilter" type="CodeListFilter" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="catalog" type="xsd:string" use="required"/>
		<xsd:attribute name="defaultshow" type="xsd:string"/>
		<xsd:attribute name="selectedvalue" type="xsd:string"/>
		<xsd:attribute name="Codelistname" type="xsd:string"/>
	</xsd:complexType>
	
<!--CodeListFilter: CodeListFiltertype -->
	<xsd:complexType name="CodeListFilter">
		<xsd:sequence>
			<xsd:element name="filter-param" type="CodeListFilter-param" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="classname" use="required"/>
	</xsd:complexType>
	
<!--CodeListFilter-param: CodeListFilter-param type -->
	<xsd:complexType name="CodeListFilter-param">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" use="required"/>
				<xsd:attribute name="value" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>		