tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/datawindow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="datastoreinfo.xsd"/>
	<xsd:include schemaLocation="orderinfo.xsd"/>
	<xsd:include schemaLocation="attributes.xsd"/>
	<xsd:include schemaLocation="editers.xsd"/>
	<xsd:include schemaLocation="headers.xsd"/>
	<xsd:include schemaLocation="titles.xsd"/>
	<xsd:include schemaLocation="filters.xsd"/>
	<xsd:include schemaLocation="buttons.xsd"/>
	<xsd:include schemaLocation="uniteCols.xsd"/>
	
	<!-- root node: dataWindow -->
	<xsd:element name="dataWindow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="dataStoreInfo" minOccurs="0"/>
				<xsd:element ref="orderInfo" minOccurs="0"/>
				<xsd:element ref="attributes" minOccurs="0"/>
				<xsd:element ref="editers" minOccurs="0"/>
				<xsd:element ref="headers" minOccurs="0"/>
				<xsd:element ref="titles" minOccurs="0"/>				
				<xsd:element ref="filters" minOccurs="0"/>
				<xsd:element ref="buttons" minOccurs="0"/>
				<xsd:element ref="uniteCols" minOccurs="0"/>
			</xsd:sequence>
			
			<xsd:attribute name="type" type="DataWindowType" use="required"/>
		        <xsd:attribute name="title" type="xsd:string" use="required"/>
		        <xsd:attribute name="width" type="xsd:integer" use="required"/>
		        <xsd:attribute name="height" type="xsd:integer" use="required"/>
		        <xsd:attribute name="popWinHeight" type="xsd:integer" default="300"/>
		        <xsd:attribute name="popWinWidth" type="xsd:integer" default="600"/>
		        <xsd:attribute name="queryWinHeight" type="xsd:integer" default="300"/>
		        <xsd:attribute name="queryWinWidth" type="xsd:integer" default="600"/>
		        <xsd:attribute name="isAutoRemove" type="xsd:boolean" use="required"/>
		        <xsd:attribute name="isEmptyOnCreate" type="xsd:boolean" use="required"/>
		</xsd:complexType>
		
	</xsd:element>
	
	
	<!--DataWindowType: dataWindow type -->
	<xsd:simpleType name="DataWindowType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="READ_ONLY"/>
			<xsd:enumeration value="ONE_SELECT"/>
			<xsd:enumeration value="MULTI_SELECT"/>
			<xsd:enumeration value="GRID_EDIT"/>
			<xsd:enumeration value="FREE_EDIT"/>
			<xsd:enumeration value="QUICK_EDIT"/>
			<xsd:enumeration value="POP_EDIT"/>
			<xsd:enumeration value="QUERY_CONDITION"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
