tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/dataWindow_old.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- root node: dataWindow -->
	<xsd:element name="dataWindow">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="dataStoreInfo" type="dataStoreInfo" minOccurs="0"/>
				<xsd:element name="orderInfo" type="OrderInfo"/>
				<xsd:element name="attributes" type="Attributes"/>
				<xsd:element name="editers" type="Editers" minOccurs="0"/>
				<xsd:element name="headers" type="Headers" minOccurs="0"/>
				<xsd:element name="filters" type="Filters" minOccurs="0"/>
				<xsd:element name="buttons" type="Buttons" minOccurs="0"/>
				<xsd:element name="uniteCols" type="uniteCols" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="type" type="DataWindowType" use="required"/>
			<xsd:attribute name="title" type="xsd:string" use="required"/>
			<xsd:attribute name="width" type="xsd:integer" use="required"/>
			<xsd:attribute name="height" type="xsd:integer" use="required"/>
			<xsd:attribute name="popWinHeight" type="xsd:integer" default="300"/>
			<xsd:attribute name="popWinWidth" type="xsd:integer" default="600"/>
			<xsd:attribute name="queryWinHeight" type="xsd:integer" default="300"/>
			<xsd:attribute name="queryWinWidth" type="xsd:integer" default="600"/>
			<xsd:attribute name="isAutoRemove" type="xsd:boolean" use="required"/>
			<xsd:attribute name="isEmptyOnCreate" type="xsd:boolean" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<!-- dataStoreInfo: dataStoreInfo-->
	<xsd:complexType name="dataStoreInfo">
		<xsd:attribute name="dataStoreName" type="xsd:string"/>
	</xsd:complexType>
	<!-- OrderInfo: OrderInfo -->
	<xsd:complexType name="OrderInfo">
		<xsd:attribute name="attrIndex" type="xsd:positiveInteger" use="required"/>
		<xsd:attribute name="dataType" type="DataType" use="required"/>
		<xsd:attribute name="order" type="Order" use="required"/>
	</xsd:complexType>
	<!-- Editers: Editers-->
	<xsd:complexType name="Editers">
		<xsd:sequence>
			<xsd:element name="editer" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="attrIndex" type="xsd:positiveInteger" use="required"/>
					<xsd:attribute name="prompt" type="xsd:string"/>
					<xsd:attribute name="width" type="xsd:integer"/>
					<xsd:attribute name="height" type="xsd:integer"/>
					<xsd:attribute name="isRowBegin" type="xsd:boolean"/>
					<xsd:attribute name="isRowEnd" type="xsd:boolean"/>
					<xsd:attribute name="colspan" type="xsd:integer"/>
					<xsd:attribute name="rowspan" type="xsd:integer"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="isAutoDraw" type="xsd:boolean" use="required"/>
		<xsd:attribute name="colsInOneRow" type="xsd:positiveInteger" use="required"/>
	</xsd:complexType>
	<!-- Headers: Headers-->
	<xsd:complexType name="Headers">
		<xsd:sequence>
			<xsd:element name="header" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="attrIndex" type="xsd:positiveInteger" use="required"/>
					<xsd:attribute name="isFixed" type="xsd:boolean"/>
					<xsd:attribute name="width" type="xsd:integer"/>
					<xsd:attribute name="isHidden" type="xsd:boolean"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Attributes: Attributes-->
	<xsd:complexType name="Attributes">
		<xsd:sequence>
			<xsd:element name="attribute" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="codeList" type="CodeList" minOccurs="0"/>
						</xsd:choice>
					</xsd:sequence>
					<xsd:attributeGroup ref="AttributesForHtmlEvent"/>
					<xsd:attributeGroup ref="AttributesForValueCheck"/>
					<xsd:attributeGroup ref="AttributesForDisplay"/>
					<xsd:attributeGroup ref="AttributesFoAidButton"/>
					<xsd:attributeGroup ref="AttributesFoLink"/>
					
					<xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
					<xsd:attribute name="title" type="xsd:string" use="required"/>
					<xsd:attribute name="dataType" type="DataType" use="required"/>
					<xsd:attribute name="type" type="EditerType" use="required"/>
					<xsd:attribute name="isImage" type="xsd:boolean"/>
					<xsd:attribute name="defaultValue" type="xsd:string"/>
					<xsd:attribute name="isNeeded" type="xsd:string"/><!--wanghx-->
					<xsd:attribute name="popup" type="PopUpStyle"/>					
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Filters: Filters-->
	<xsd:complexType name="Filters">
		<xsd:sequence>
			<xsd:element name="filter" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice>
							<xsd:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded"/>
							<xsd:element name="codeList" type="CodeList" minOccurs="0"/>
						</xsd:choice>
					</xsd:sequence>
					<xsd:attributeGroup ref="AttributesForHtmlEvent"/>
					<xsd:attributeGroup ref="AttributesForValueCheck"/>
					<xsd:attributeGroup ref="AttributesForDisplay"/>
					<xsd:attributeGroup ref="AttributesFoAidButton"/>					
					<xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
					<xsd:attribute name="title" type="xsd:string" use="required"/>
					<xsd:attribute name="filterName" type="xsd:string" use="required"/>
					<xsd:attribute name="operator" type="Operator" use="required"/>
					<xsd:attribute name="operateTitle" type="xsd:string"/>
					<xsd:attribute name="operateValue" type="xsd:string"/>
					<xsd:attribute name="dataType" type="xsd:integer" use="required"/>
					<xsd:attribute name="type" type="EditerType" use="required"/>
					<xsd:attribute name="defaultValue" type="xsd:string"/>
					<xsd:attribute name="value" type="xsd:string"/>
					<xsd:attribute name="isOpeSelect" type="xsd:boolean"/>
					<xsd:attribute name="isCustomer" type="xsd:boolean"/>
					<xsd:attribute name="operatorStyle" type="xsd:string"/>
					<xsd:attribute name="operatorClass" type="xsd:string"/>
					<xsd:attribute name="modeInQueryWin" type="ModeInQueryWin"/><!--wanghx-->
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="logicalmean" type="xsd:string"/><!--wanghx-->
		<xsd:attribute name="pattern" type="xsd:string"/><!--wanghx-->
	</xsd:complexType>
	<!--wanghx-->
	<!--ModeInQueryWin:querywindow display or not-->
	<xsd:simpleType name="ModeInQueryWin">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="hidden"/>
			<xsd:enumeration value="display"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--DataWindowType: dataWindow type -->
	<xsd:simpleType name="DataWindowType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="READ_ONLY"/>
			<xsd:enumeration value="ONE_SELECT"/>
			<xsd:enumeration value="MULTI_SELECT"/>
			<xsd:enumeration value="GRID_EDIT"/>
			<xsd:enumeration value="FREE_EDIT"/>
			<xsd:enumeration value="QUICK_EDIT"/>
			<xsd:enumeration value="POP_EDIT"/>
			<xsd:enumeration value="QUERY_CONDITION"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--DataType: data type of attr -->
	<xsd:simpleType name="DataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="STRING"/>
			<xsd:enumeration value="BOOLEAN"/>
			<xsd:enumeration value="INTEGER"/>
			<xsd:enumeration value="LONG"/>
			<xsd:enumeration value="FLOAT"/>
			<xsd:enumeration value="DOUBLE"/>
			<xsd:enumeration value="BIGDECIMAL"/>
			<xsd:enumeration value="TIMESTAMP"/>
			<xsd:enumeration value="BLOB"/>
			<xsd:enumeration value="CLOB"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Order: order -->
	<xsd:simpleType name="Order">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ascending"/>
			<xsd:enumeration value="descending"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--EditerType: editer type -->
	<xsd:simpleType name="EditerType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="input"/>
			<xsd:enumeration value="select"/>
			<xsd:enumeration value="textarea"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Style: htc Style-->
	<xsd:simpleType name="Style">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Text"/>
			<xsd:enumeration value="Number"/>
			<xsd:enumeration value="Integer"/>
			<xsd:enumeration value="PosInteger"/>
			<xsd:enumeration value="Double"/>
			<xsd:enumeration value="Money"/>
			<xsd:enumeration value="Date"/>
			<xsd:enumeration value="IDCard"/>
			<xsd:enumeration value="Password"/>
			<xsd:enumeration value="TextArea"/>
			<xsd:enumeration value="ReadOnly"/>
			<xsd:enumeration value="Select"/>
			<xsd:enumeration value="QuickSelect"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Dateformat: Dateformat -->
	<xsd:simpleType name="Dateformat">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="YYYY"/>
			<xsd:enumeration value="YYYYMM"/>
			<xsd:enumeration value="YYYYMMDD"/>
			<xsd:enumeration value="YYYYMMDD HH:MI"/>
			<xsd:enumeration value="YYYYMMDD HH:MI:SS"/>
			<xsd:enumeration value="YYYY-MM"/>
			<xsd:enumeration value="YYYY-MM-DD"/>
			<xsd:enumeration value="YYYY-MM-DD HH:MI"/>
			<xsd:enumeration value="YYYY-MM-DD HH:MI:SS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Operator: Operator-->
	<xsd:simpleType name="Operator">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="&lt;"/>
			<xsd:enumeration value="&lt;="/>
			<xsd:enumeration value="="/>
			<xsd:enumeration value="&gt;="/>
			<xsd:enumeration value="&gt;"/>
			<xsd:enumeration value="!="/>
			<xsd:enumeration value="left_like"/>
			<xsd:enumeration value="right_like"/>
			<xsd:enumeration value="like"/>
			<xsd:enumeration value="*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--PopUpStyle: PopUpStyle-->
	<xsd:simpleType name="PopUpStyle">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LEFT"/>
			<xsd:enumeration value="LTOP"/>
			<xsd:enumeration value="RTOP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Buttons: Buttons-->
	<xsd:complexType name="Buttons">
		<xsd:sequence>
			<xsd:element name="button" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="type" type="ButtonType" use="required"/>
					<xsd:attribute name="value" type="xsd:string"/>
					<xsd:attribute name="actionName" type="xsd:string"/>
					<xsd:attribute name="actionMethod" type="xsd:string"/>
					<xsd:attribute name="boControllerName" type="xsd:string"/>
					<xsd:attribute name="boControllerMethod" type="xsd:string"/>
					<xsd:attribute name="isPartlyRefresh" type="xsd:boolean"/>
					<xsd:attribute name="onclick" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--ButtonType: Button type -->
	<xsd:simpleType name="ButtonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="insert"/>
			<xsd:enumeration value="delete"/>
			<xsd:enumeration value="update"/>
			<xsd:enumeration value="query"/>
			<xsd:enumeration value="submit"/>
			<xsd:enumeration value="pagebutton"/>
			<xsd:enumeration value="custom"/>
			<xsd:enumeration value="reset"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Option: Option type -->
	<xsd:complexType name="Option">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="value" use="required"/>
				<xsd:attribute name="selected"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--CodeList: CodeList type -->
	<xsd:complexType name="CodeList">
		<xsd:sequence>
			<xsd:element name="codeListFilter" type="CodeListFilter" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="catalog" use="required"/>
		<xsd:attribute name="defaultshow"/>
		<xsd:attribute name="selectedvalue"/>
		<xsd:attribute name="Codelistname"/>
	</xsd:complexType>
	<!--CodeListFilter: CodeListFiltertype -->
	<xsd:complexType name="CodeListFilter">
		<xsd:sequence>
			<xsd:element name="filter-param" type="CodeListFilter-param" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="classname" use="required"/>
	</xsd:complexType>
	<!--CodeListFilter-param: CodeListFilter-param type -->
	<xsd:complexType name="CodeListFilter-param">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" use="required"/>
				<xsd:attribute name="value" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="uniteCols">
		<xsd:sequence>
			<xsd:element name="col" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="attrIndex" type="xsd:positiveInteger" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 公共属性集 -->
	<xsd:attributeGroup name="CommonAttibute">
		
	</xsd:attributeGroup>
	<!-- html 中的事件属性集合 -->
	<xsd:attributeGroup name="AttributesForHtmlEvent">
		<xsd:attribute name="onchange" type="xsd:string"/>
		<xsd:attribute name="onblur" type="xsd:string"/>
		<xsd:attribute name="onkeydown" type="xsd:string"/>
		<xsd:attribute name="onkeypress" type="xsd:string"/>
		<xsd:attribute name="onfocus" type="xsd:string"/>
	</xsd:attributeGroup>
	<!-- 值校验用到的属性集合 -->
	<xsd:attributeGroup name="AttributesForValueCheck">
		<xsd:attribute name="minlength" type="xsd:positiveInteger"/>
		<xsd:attribute name="fixlength" type="xsd:positiveInteger"/>
		<xsd:attribute name="maxlength" type="xsd:positiveInteger"/>
		<xsd:attribute name="dateformat" type="Dateformat"/>
		<xsd:attribute name="precision" type="xsd:positiveInteger"/>
		<xsd:attribute name="isNullable" type="xsd:boolean" use="required"/>
	</xsd:attributeGroup>
	<!-- 表现用到的属性集合 -->
	<xsd:attributeGroup name="AttributesForDisplay">
		<xsd:attribute name="width" type="xsd:integer" use="required"/>
		<xsd:attribute name="rows" type="xsd:integer"/>
		<xsd:attribute name="cols" type="xsd:integer"/>
		<xsd:attribute name="style" type="Style" use="required"/>
		<xsd:attribute name="class" type="xsd:string"/>
		<xsd:attribute name="isreadonly" type="xsd:boolean"/>
	</xsd:attributeGroup>
	<!-- 辅助按钮用到的属性集合 -->
	<xsd:attributeGroup name="AttributesFoAidButton">
		<xsd:attribute name="hasAidBtn" type="xsd:boolean"/>
		<xsd:attribute name="aidBtnClass" type="xsd:string"/>
		<xsd:attribute name="aidBtnValue" type="xsd:string"/>
		<xsd:attribute name="aidBtnOnclick" type="xsd:string"/>
	</xsd:attributeGroup>
	<!-- 超级连接用到的属性集合 -->
	<xsd:attributeGroup name="AttributesFoLink">
		<xsd:attribute name="isLink" type="xsd:boolean"/>
		<xsd:attribute name="href" type="xsd:string"/>
		<xsd:attribute name="target" type="xsd:string"/>
	</xsd:attributeGroup>
</xsd:schema>
