tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/editers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="editer.xsd"/>
	<!-- root node: editers -->
	<xsd:element name="editers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="editer" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="isAutoDraw" type="xsd:boolean" use="required"/>
			<xsd:attribute name="colsInOneRow" type="xsd:positiveInteger" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
