tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/filter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="option.xsd"/>
	<xsd:include schemaLocation="codelist.xsd"/>
	<xsd:include schemaLocation="operator.xsd"/>
	<xsd:include schemaLocation="editertype.xsd"/>
	<xsd:include schemaLocation="group.xsd"/>
	<xsd:include schemaLocation="modeinquerywin.xsd"/>
	
	<!-- root node: filter -->
	<xsd:element name="filter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element name="option" type="Option" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="codeList" type="CodeList" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
			
			<xsd:attributeGroup ref="AttributesForHtmlEvent"/>
			<xsd:attributeGroup ref="AttributesForValueCheck"/>
			<xsd:attributeGroup ref="AttributesForDisplay"/>
			<xsd:attributeGroup ref="AttributesFoAidButton"/>					
			<xsd:attribute name="index" type="xsd:positiveInteger" use="required"/>
			<xsd:attribute name="title" type="xsd:string" use="required"/>
			<xsd:attribute name="filterName" type="xsd:string" use="required"/>
			<xsd:attribute name="operator" type="Operator" use="required"/>
			<xsd:attribute name="operateTitle" type="xsd:string"/>
			<xsd:attribute name="operateValue" type="xsd:string"/>
			<xsd:attribute name="dataType" type="xsd:integer" use="required"/>
			<xsd:attribute name="type" type="EditerType" use="required"/>
			<xsd:attribute name="defaultValue" type="xsd:string"/>
			<xsd:attribute name="value" type="xsd:string"/>
			<xsd:attribute name="isOpeSelect" type="xsd:boolean"/>
			<xsd:attribute name="isCustomer" type="xsd:boolean"/>
			<xsd:attribute name="operatorStyle" type="xsd:string"/>
			<xsd:attribute name="operatorClass" type="xsd:string"/>
			<xsd:attribute name="modeInQueryWin" type="ModeInQueryWin"/><!--wanghx-->
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
