tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/filters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="filter.xsd"/>
	<!-- root node: filters -->
	<xsd:element name="filters">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="filter" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="logicalmean" type="xsd:string"/><!--wanghx-->
		        <xsd:attribute name="pattern" type="xsd:string"/><!--wanghx-->
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
