tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
        <xsd:include schemaLocation="dateformat.xsd"/>
        <xsd:include schemaLocation="style.xsd"/>
        
        <xsd:attributeGroup name="CommonAttibute">
		
	</xsd:attributeGroup>
	<!-- html 中的事件属性集合 -->
	<xsd:attributeGroup name="AttributesForHtmlEvent">
		<xsd:attribute name="onchange" type="xsd:string"/>
		<xsd:attribute name="onblur" type="xsd:string"/>
		<xsd:attribute name="onkeydown" type="xsd:string"/>
		<xsd:attribute name="onkeypress" type="xsd:string"/>
		<xsd:attribute name="onfocus" type="xsd:string"/>
	</xsd:attributeGroup>
	<!-- 值校验用到的属性集合 -->
	<xsd:attributeGroup name="AttributesForValueCheck">
		<xsd:attribute name="minlength" type="xsd:positiveInteger"/>
		<xsd:attribute name="fixlength" type="xsd:positiveInteger"/>
		<xsd:attribute name="maxlength" type="xsd:positiveInteger"/>
		<xsd:attribute name="dateformat" type="Dateformat"/>
		<xsd:attribute name="precision" type="xsd:positiveInteger"/>
		<xsd:attribute name="isNullable" type="xsd:boolean" use="required"/>
	</xsd:attributeGroup>
	<!-- 表现用到的属性集合 -->
	<xsd:attributeGroup name="AttributesForDisplay">
		<xsd:attribute name="width" type="xsd:integer" use="required"/>
		<xsd:attribute name="rows" type="xsd:integer"/>
		<xsd:attribute name="cols" type="xsd:integer"/>
		<xsd:attribute name="style" type="Style" use="required"/>
		<xsd:attribute name="class" type="xsd:string"/>
		<xsd:attribute name="isreadonly" type="xsd:boolean"/>
	</xsd:attributeGroup>
	<!-- 辅助按钮用到的属性集合 -->
	<xsd:attributeGroup name="AttributesFoAidButton">
		<xsd:attribute name="hasAidBtn" type="xsd:boolean"/>
		<xsd:attribute name="aidBtnClass" type="xsd:string"/>
		<xsd:attribute name="aidBtnValue" type="xsd:string"/>
		<xsd:attribute name="aidBtnOnclick" type="xsd:string"/>
	</xsd:attributeGroup>
	<!-- 超级连接用到的属性集合 -->
	<xsd:attributeGroup name="AttributesFoLink">
		<xsd:attribute name="isLink" type="xsd:boolean"/>
		<xsd:attribute name="href" type="xsd:string"/>
		<xsd:attribute name="target" type="xsd:string"/>
	</xsd:attributeGroup>
</xsd:schema>	