tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- root node: header -->
	<xsd:element name="header">
		<xsd:complexType>
			<xsd:attribute name="attrIndex" type="xsd:positiveInteger" use="required"/>
			<xsd:attribute name="isFixed" type="xsd:boolean"/>
			<xsd:attribute name="isSumcol" type="xsd:boolean"/>
			<xsd:attribute name="width" type="xsd:integer"/>
			<xsd:attribute name="isHidden" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
