tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/orderinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="datatype.xsd"/>
	<!-- root node: orderInfo -->
	<xsd:element name="orderInfo">
		<xsd:complexType>
			<xsd:attribute name="attrIndex" type="xsd:positiveInteger" use="required"/>
			<xsd:attribute name="dataType" type="DataType" use="required"/>
			<xsd:attribute name="order" type="Order" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<!--Order: order -->
	<xsd:simpleType name="Order">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ascending"/>
			<xsd:enumeration value="descending"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
