tdtramework2.5/tdframework-deliver/EAPDomain/WEB-INF/schema/title.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<!-- Version: 2.0 -->
<xsd:schema targetNamespace="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns="http://www.neusoft.com/unieap/datawindow/metadata/xml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- root node: header -->
	<xsd:element name="title">
		<xsd:complexType>
			<xsd:attribute name="value" type="xsd:string" use="required"/>
			<xsd:attribute name="colspan" type="xsd:integer"/>
			<xsd:attribute name="rowspan" type="xsd:integer"/>			
			<xsd:attribute name="isRowBegin" type="xsd:boolean"/>
			<xsd:attribute name="isRowEnd" type="xsd:boolean"/>
			<xsd:attribute name="tdcss" type="xsd:string"/>			
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
